<!DOCTYPE html>
<html>
<head>
    <title>ElasticUI Demo</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="http://code.angularjs.org/1.2.16/angular.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/examples/demo/lib/elasticsearch.angular.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/examples/demo/lib/elastic.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/dist/elasticui.min.js"></script>
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
        }

        .instructions {
            display: block;
            margin: 0 auto;
            width: 450px;
        }
    </style>
    <script>
        angular
            .module('tutorial', ['elasticui'])
            // .constant('euiHost', 'http://localhost:9200'); // ACTION: change to cluster address
            .constant('euiHost', 'http://elastic:changeme@localhost:9200'); // ACTION: change to cluster address
    </script>
</head>
<body ng-app="tutorial" eui-index="'isikud'">

    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-3 sidebar">
                <h3>Search</h3>
                {{ indexVM.results.hits.total }} vastet
                <div>
                    Kirje: <eui-searchbox field="'kirje'"></eui-searchbox>
                </div>
                <!-- <eui-checklist field="'eesnimi'" size="15"></eui-checklist>
                <h3>languageCode</h3>
                <eui-singleselect field="'allikas'" size="10"></eui-singleselect>
                <h3>languageType</h3> -->
                <h3>Results Per Page</h3>
                <select ng-model="indexVM.pageSize">
                    <option ng-repeat="item in [10, 20, 50, 100]">{{item}}</option>
                </select>
            </div>
            <div class="col-xs-9 col-xs-offset-3 main">
                <h1><eui-simple-paging></eui-simple-paging></h1>

                <div ng-repeat="doc in indexVM.results.hits.hits">
                    <div class=""><b>{{doc._id}}</b> | <b>{{doc._source.kirje}}</b>
                        <!-- <div class="row" ng-repeat="lang in doc._source.language">
                            <p>{{lang.languageType}}</p>
                            <div class="col-sm-6" ng-repeat="term in lang.terms">
                                <p>{{term.termName}}</p>
                                <p ng-repeat="xref in term.sourceReference.descripLink">[{{xref.xrefText}}]({{xref.xrefLink}})</p>
                                <pre style="font-size: 8px;">{{term | json:4 | limitTo: 5000}}</pre>
                            </div>
                        </div> -->
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
