<!DOCTYPE html>
<html>
<head>
    <title>EW100 Memoriaal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://cdn.rawgit.com/memoriaal/eMem/master/node_modules/angular/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/memoriaal/eMem/master/node_modules/elasticsearch-browser/elasticsearch.angular.min.js"></script>
    <script src="https://cdn.rawgit.com/memoriaal/eMem/master/lib/elastic.js"></script>
    <script src="https://cdn.rawgit.com/memoriaal/eMem/master/lib/elasticui.min.js"></script>
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
        }

        .instructions {
            display: block;
            margin: 0 auto;
            width: 450px;
        }

        .isikukaart {
          float:left;
          padding:0.5em;
          margin:0.5em;
          margin-right:0.5em;
          border-right:black 1px dashed;
        }
        .isikukaart > p {
          padding: 0px;
          margin: 0px;
        }
        pre {
          white-space:  pre-wrap;       /* css-3 */
          white-space:  -moz-pre-wrap;  /* Mozilla, since 1999 */
          white-space:  -pre-wrap;      /* Opera 4-6 */
          white-space:  -o-pre-wrap;    /* Opera 7 */
          word-wrap:    break-word;     /* Internet Explorer 5.5+ */
          word-break:   break-word;
          padding-left: 1.5em;
          text-indent:  -1.5em;
        }
        .intro {
          font-size: 1.2em;
          font-family: sans-serif;
          margin-top: 1em;
          margin-bottom: 1em;
        }
        .rong {
          font-size: 0.5em;
          font-family: monospace;
          margin-top: 1em;
          margin-bottom: 1em;
        }

    </style>
    <script>
        angular
            .module('tutorial', ['elasticui'])
            // .constant('euiHost', 'http://localhost:9200'); // ACTION: change to cluster address
            .constant('euiHost', 'https://reader:reader@94abc9318c712977e8c684628aa5ea0f.us-east-1.aws.found.io:9243'); // ACTION: change to cluster address
    </script>
    <script>
        function setFeedback() {
          document.getElementById('feedback0')
            .setAttribute('href', 'mailto:meelis.maripuu@mnemosyne.ee?cc=mihkel.putrinsh@gmail.com;memoriaal@mnemosyne.ee&subject=Tagasiside e-memoriaalilt '
                                + '"' + document.getElementById('query').value + '"'
                                + '&body='
                                + document.getElementById('comment').value.replace(/\n/g,'%0D%0A')
            )
        }
    </script>
</head>
<body ng-app="tutorial" eui-index="'isikud'" ng-init="indexVM.pageSize=50"
      eui-highlight="ejs.Highlight(allikad.kirje).preTags('<b>').postTags('</b>')"
      eui-enabled="true">

    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-3 col-lg-2 sidebar">
                <div eui-and-filter>
                  <!-- <div><eui-searchbox id="searchbox" field="'allikad.kirje'" ng-click="indexVM.page=1"></eui-searchbox> </div> -->
                  <input id="query" type="text" eui-query="ejs.DisMaxQuery().queries(ejs.QueryStringQuery(querystring).defaultField('_all').defaultOperator('AND').boost(1.0)).queries(ejs.MatchQuery('_all', querystring).boost(0.1))"
                    ng-model="querystring" eui-enabled="querystring.length"
                    ng-click="indexVM.page=1"
                    placeholder="Otsi"
                    onchange="setFeedback()" />
                  <!-- <div>Perenimi:<br/><eui-searchbox field="'perenimi'" ng-click="indexVM.page=1"></eui-searchbox> </div> -->
                </div>

                <div ng-if="indexVM.results.hits.total > 0">
                  {{ indexVM.results.hits.total }} kirje{{indexVM.results.hits.total === 1 ? '' : 't'}}
                </div>
                <div ng-if="indexVM.results.hits.total === 0">
                  pole ühtegi
                </div>

                <hr/>
                <div class="row form-group">
                  <textarea id="comment" class="form-control" rows="5"
                    label="Palun lisage siia puuduva isiku ees-, pere- ja isanimi ning võimalusel ka sünni- ja surmadaatumid"
                    placeholder="Palun lisage siia puuduva isiku ees-, pere- ja isanimi ning võimalusel ka sünni- ja surmadaatumid."
                    onChange="setFeedback()"></textarea>
                  <a id="feedback0" href="">Tagasiside puuduva kirje kohta</a>
                </div>

                <!-- <select ng-model="indexVM.pageSize">
                    <option ng-repeat="item in [10, 20, 50, 100]">{{item}}</option>
                </select> Kirjet lehel -->
            </div>

            <div class="col-xs-9 col-xs-offset-3 col-lg-10 col-lg-offset-2 main" ng-if="indexVM.query == null ? true : false">

                <pre class="rong">            __  __                                     _                       _
    o O O|  \/  |   ___    _ __     ___      _ _    (_)    __ _    __ _     | |
   o     | |\/| |  / -_)  | '  \   / _ \    | '_|   | |   / _` |  / _` |    | |
  TS__[O]|_|__|_|  \___|  |_|_|_|  \___/   _|_|_   _|_|_  \__,_|  \__,_|   _|_|_
 {======|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|
./o--000'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'
</pre>
                <div class="intro">2018. aastal avatakse Tallinnas Maarjamäel memoriaal kommunistliku režiimi repressioonide
                ohvritele. Memoriaali mälestusseinale kantakse teadaolevalt repressioonide käigus mõrvatud või
                hukkunud Eesti inimeste nimed koos nende sünni- ja surmaajaga. SA Eesti Mälu Instituut tegeleb
                ohvrite nimekirjade ja nende andmete korrastamisega ja on tänulik teie poolt tehtavate paranduste
                ja täienduste eest. Isikute nimed koos sünni- ja surmaaastaga kantakse memoriaalile alaliselt ning
                nende hilisem muutmine on väga keerukas. Seetõttu palume vähimagi kahtluse korral meiega
                ühendust võtta, lisades oma kontaktandmed, et saaksime teiega ühendust võtta.</div>

                <div class="intro">Käesoleva otsingu kaudu on teil võimalus kontrollida, kas teile teadaolev isik, kes Nõukogude
                repressioonide käigus (olles vanglas, laagris või küüditatuna asumispaigas) hukkus, on memoriaali
                andmebaasi kantud ning kas tema kohta käivad andmed on teie teadmiste kohaselt õiged. Kui teie hinnangul on esitatud andmetes vigu, teie poolt otsitav isik esineb erinevate
                nimekujude all korduvalt vms, siis palun informeerige meid sellest tagasiside vormi kaudu. Kui teie
                poolt otsitava isiku kohta andmeid üldse ei leidu, siis palun saatke meile tagasiside puuduva kirje
                kohta.</div>

                <div class="intro">Antud andmestik ei sisalda veel isikuid, kes olid represseeritud, kuid kes vabanesid
                kinnipidamiskohast või asumiselt. Nende isikute andmed avatakse tutvumiseks 2017. aasta juunis.</div>

                <div class="intro">Tagasiside tõrgete korral kirjutage palun aadressil: info@mnemosyne.ee</div>

                <p><hr>SA Eesti Mälu Instituut<br>
                Suur-Ameerika 12, 10119, Tallinn<br>
                E-mail: info@mnemosyne.ee<br>
                Telefon: 6645039</pre>
            </div>
            <div class="col-xs-9 col-xs-offset-3 col-lg-10 col-lg-offset-2 main" ng-if="indexVM.query == null ? false : true">
                <!-- <h1><eui-simple-paging></eui-simple-paging></h1> -->
                <ul class="pager">
                    <li ng-class="{hidden:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=1">Esimene</a></li>
                    <li ng-class="{hidden:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=indexVM.page - 1">Eelmine</a></li>
                    <li ng-class="{hidden:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.page + 1">Järgmine</a></li>
                </ul>

                <div ng-repeat="doc in indexVM.results.hits.hits">
                    <div class="row">
                      <div class="isikukaart">
                        <p>p: {{doc._source.perenimi}}</p>
                        <p>e: {{doc._source.eesnimi}}</p>
                        <p>i: {{doc._source.isanimi}}</p>
                        <p>s: {{doc._source['sünniaasta']}}</p>
                      </div>
                      <div style="overflow: auto;">
                        <p ng-repeat="allikas in doc._source.allikad">
                          {{allikas.kirje}}
                          <br/>
                          <a href="{{allikas.allikas.href}}">{{ allikas.allikas.text }}</a>
                        </p>
                        <a class="button" href="mailto:meelis.maripuu@mnemosyne.ee?cc=mihkel.putrinsh@gmail.com;memoriaal@mnemosyne.ee&subject=Tagasiside e-memoriaalilt {{doc._source.perenimi}}, {{doc._source.eesnimi}}, {{doc._source.isanimi}} kohta&body=%0D%0A%0D%0A----%0D%0Akirje ID:{{doc._source.id}}">Tagasiside selle kirje kohta</a>
                      </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
